*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #292929;
}

.teamDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.characterPortrait {
  margin: 10px;
  width: 185px;
  height: 290px;
}

.displayWrapper {
  display: flex;
  max-width: 1200px;
}

.displayWrapper > * {
  margin: 0px 10px;
}

.playerList {
  display: flex;
  flex-direction: column;
}

.playerNameInput {
  width: 100px;
}

.playerListEntry {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  color: white;
  background-color: #5e5df0;
  border: 1px solid white;
}

.addPlayerBtn {
  width: 20px;
}

.randomizeBtn {
  margin-left: 20px;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #ffffff;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  border: 0;
}

.randomizeBtn:hover {
  opacity: 0.8;
}
