*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #292929;
}

.teamDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.characterPortrait {
  margin: 10px;
  width: 185px;
  height: 290px;
}

.displayWrapper {
  display: flex;
  max-width: 1200px;
}

.displayWrapper > * {
  margin: 0px 10px;
}

.playerList {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.listEntryWrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addBtn,
.subtractBtn {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.addBtn:hover,
.subtractBtn:hover {
  background-color: #4a4a4a;
  border: solid gray 1px;
  border-radius: 999px;
}

.valueDisplay {
  color: white;
  background-color: #5e5df0;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
}

.playerNameInput {
  width: 100px;
}

.playerListEntry,
.portraitPlayerName {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background-color: #5e5df0;
  border: 1px solid white;
}

.portraitPlayerName {
  margin: auto;
}

.addPlayerBtn {
  width: 20px;
}

.randomizeBtn {
  margin: 20px;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #ffffff;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  border: 0;
}

.randomizeBtn:hover {
  opacity: 0.8;
}
